@model Vidly.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
        var className = Model.Customers.Count > 0 ? "popular" : null;
    }*@
<h2>Movies</h2>

@if (Model.Movie.Count == 0)
{
    <text>There are no movies yet</text>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                Movies
            </th>
        </tr>
        @foreach (var movie in Model.Movie)
        {
            <tr>
                <td>
                    @Html.ActionLink(@movie.Name, "MovieDetails", "Movies", new { Id = movie.Id }, null)
                    @*@movie.Name*@
                </td>
            </tr>
        }
    </table>
}


